@model List<ICA1.Models.Branch>
    @using ICA1.Models

@{
    ViewBag.Title = "Branch";
}


<div>
    <h1>Branch Names</h1>
    <div>

    </div>
    <br />
    @foreach (Branch branch in Model)
    {
        @Html.ActionLink(branch.Street, "BuildingBranch",new { id = branch.BranchNo })
        <br />
    }
</div>
<div>

</div>
<br />
<p>
   |@Html.ActionLink("Back to Home", "Index", "Home/Index")
</p>

