@model ICA1.Models.Rent

@{
    ViewBag.Title = "BuildingBranch";
}

<h2>BuildingBranch</h2>

<div>
    <h4>Number of Buildings - @ViewBag.count</h4>
</div>
<div>
    <p>
        @Html.ActionLink("Back", "Index", "Branch/Branch")|
        @Html.ActionLink("Back to Home", "Index", "Home/Index")
    </p>
</div>



